// reset

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// custom's properties

:root {
    --clr-primary: rgb(20, 158, 232);
    --clr-secondary: rgb(248, 248, 248);
    --clr-ternary: rgb(51, 51, 51);
}

// custom's variables

$triangle: polygon(0% 0%, 50% 25%, 100% 50%, 100% 50%, 50% 75%, 0% 100%, 20% 50%);
$square: polygon(0% 0%, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);

// container

.container {
    background-color: var(--clr-secondary);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// unanimated_object

.unanimated_object {
    display: block;
    position: relative;
    min-height: 20rem;
    min-width: 20rem;
    border: 0.5rem solid var(--clr-ternary);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 80%;
        min-width: 80%;
        background-color: var(--clr-primary);
        transition-property: all;
        transition-delay: 0ms;
        transition-duration: 2s;
        clip-path: $square;
    }
}

// animated_object

.animated_object {
    display: block;
    position: relative;
    min-height: 20rem;
    min-width: 20rem;
    border: 0.5rem solid var(--clr-ternary);
    &::before {
        clip-path: $triangle;
        background-color: var(--clr-ternary);
    }
}
